<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>Контакты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/menuBar.css">
    <link rel="stylesheet" href="static/css/contacts.css">


</head>

<body background="static/images/back.jpg">

<!--МЕНЮ-БАР-->
    <div id="menu-bar" class="menu-bar">
        <a class="home" href="#home" onclick="RedirectHome();">Главная страница</a>
        <a href="#coffee" onclick="RedirectCoffees();">Кофе</a>
        <a href="#tea" onclick="RedirectTeas();">Чай</a>
        <a href="#about">О нас</a>
        <a href="#contacts" onclick="RedirectContacts();">Контакты</a>
    </div>

<!--Контаты для сотрудничество и тд.-->
    <div class="contacts">
        <h1 id="contacts">Наши контакты:</h1>
        <p id="office" class="price">Офис: +7-900-543-67-54</p>
        <p id="delivery">Доставка: +7-956-895-32-45</p>
        <p id="Cooperation">Сотрудничество: +7-988-457-32-66</p>
        <p id="Mail">Почта: coffeetearea@icloud.com</p>

        <br>
        <h3 id="Social">Мы в социальных сетях:</h3>
        <p id="Instagram">Инстаграм: coffeetearea</p>
        <p id="Vkontakte">Вконтакте: vk.com/coffeetearea</p>
    </div>
</body>

<script src="static/js/redirects.js"></script>

</html>