<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>CoffeeTeArea</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body background="static/images/background.jpg">
    <h1>Авторизация</h1>
        <form action="/users/login" name="formElem" id="formElem" method="post">
            <div class="forms-and-button">

                <label for="inputLogin">Логин:</label>
                <input name="login" type="text" class="form-control" id="inputLogin" aria-describedby="loginHelp">

                <label for="inputPassword">Пароль:</label>
                <input name="password" type="password" class="form-control" id="inputPassword">

                <button class="btn btn-primary">Вход</button>

            </div>
        </form>

    <p class="registr" onclick="RedirectRegistration();"><a class="reg" href="#">У меня нет аккаунта!</a></p>
</body>

<script src="static/js/users/common/authorization.js"></script>

<script src="static/js/users/common/redirects.js"></script>

</html>