<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>CoffeeTeArea || Чай</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/drinksCardsAndFilters.css">
    <link rel="stylesheet" href="static/css/menuBar.css">
    <link rel="stylesheet" href="static/css/pagination.css">
    <link rel="stylesheet" href="static/css/coffeeAndTea.css">


</head>

<body background="static/images/teas-background.png" onload="createTeaCards();">

<!--МЕНЮ-БАР-->
<div id="menu-bar" class="menu-bar">
    <a class="home" href="#home" onclick="RedirectHome();">Главная страница</a>
    <a href="#coffee" onclick="RedirectCoffees();">Кофе</a>
    <a href="#tea" onclick="RedirectTeas();">Чай</a>
    <a href="#about" onclick="RedirectAbout();">О нас</a>
    <a href="#contacts" onclick="RedirectContacts();">Контакты</a>
    <div class="svg">
        <svg id="login" onclick="RedirectLogin();" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
        <svg onclick="RedirectFavourites();" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart-fill"
             fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        <svg onclick="RedirectCard();" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-basket"
             fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
        </svg>
        <svg id="logout" onclick="logOut();" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-door-open-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        </svg>
    </div>
</div>


<p class="info" id="info"></p>

<!--ФИЛЬТР-->
<div id="filter-panel" class="filter-panel">
    <a href="javascript:void(0)" class="close-button" onclick="closeNav()">×</a>
    <a href="#">Прожарка</a>
    <a href="#">Тип</a>
    <a href="#">Страна</a>
    <a href="#">Стоимость</a>
</div>

<button class="filter-button" onclick="openNav()">☰ Фильтр</button>


<select class="sort" id="sort">
    <option id="alph">По алфавиту 🠗</option>
    <option id="pop">По популярности 🠗</option>
    <option id="prI">Цена 🠕</option>
    <option id="prD">Цена 🠗</option>
</select>

<!--Карточки товаров-->
<br>
<br>
<br>
<br>
<br>
<br>
<div class="cards" id="cards">
</div>



<div id="paginationTea" class="pagination">
</div>
</body>
<script src="static/js/userInfo.js"></script>
<!--Вызываем скрипт для добавления карточек товаров-->
<script src="static/js/createTeaCards.js"></script>
<script src="static/js/teaPaginationButtons.js"></script>
<!--Вызываем скрипт для открытия фильтра-->
<script src="static/js/callFilterMenu.js"></script>
<!--Редиректы по меню-->
<script src="static/js/redirects.js"></script>
<!--Выход-->
<script src="static/js/logout.js"></script>
<script src="static/js/icons.js"></script>
<script src="static/js/drink.js"></script>

</html>