<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <link rel="stylesheet" href="static/css/coffees.css">
</head>
<body>

<div class="card">
    <img id="coffeeImage" src="static/images/coffees-background.jpg" alt="Coffee" style="width:100%">
    <h1 id="name">Название</h1>
    <p id="price" class="price">price</p>
    <p id="about">about</p>
    <p id="weight">weight</p>
    <p id="country">country</p>
    <p><button>Добавить в корзину</button></p>
</div>

</body>

<script src="static/js/createProductCards.js"></script>


</html>