.catalogButton{
    height: 60px;
    width: 140px;
}

#coffeeTypeButton {
    position: fixed;
    top: 300px;
    left: 1050px;
}

#roastingsButton {
    position: fixed;
    top: 300px;
    left: 1200px;
}

#countryButton {
    position: fixed;
    top: 300px;
    left: 300px;
}

#manufacturerButton {
    position: fixed;
    top: 300px;
    left: 450px;
}

#packagingButton {
    position: fixed;
    top: 300px;
    left: 600px;
}

#teaColorsButton {
    position: fixed;
    top: 300px;
    left: 750px;
}

#teaTypesButton {
    position: fixed;
    top: 300px;
    left: 900px;
}