h1 {
    font-size: 100px;
    text-align: left;
    color: forestgreen;
    font-family: "Brush Script MT", cursive;
    position: fixed;
    left: 20px;
    top: 160px;
}

.countries {
    position: fixed;
    top: 230px;
    left: 20px;
}

.countries {
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 600px;
}