h1 {
    font-size: 100px;
    text-align: left;
    color: forestgreen;
    font-family: "Brush Script MT", cursive;
    position: fixed;
    left: 20px;
    top: 160px;
}

.countries {
    position: fixed;
    top: 230px;
    left: 20px;
}

.countries {
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 600px;
}

.coffTypes {
    position: fixed;
    top: 230px;
    left: 20px;
}

.coffTypes {
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 600px;
}

.manufactur {
    position: fixed;
    top: 230px;
    left: 20px;
}

.manufactur {
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 600px;
}

.roasts {
    position: fixed;
    top: 230px;
    left: 20px;
}

.roasts {
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 600px;
}

.tea-c {
    position: fixed;
    top: 230px;
    left: 20px;
}

.tea-c {
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 600px;
}

.tea-t {
    position: fixed;
    top: 230px;
    left: 20px;
}

.tea-t {
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 600px;
}

.packs {
    position: fixed;
    top: 230px;
    left: 20px;
}

.packs {
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 600px;
}

.coffee {
    position: fixed;
    top: 230px;
    left: 20px;
}

.coffee {
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 600px;
}