/**
Картчоки товаров
 */
.cards {
    margin-left: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 5px;
    width: 80%;
}

.cards button:hover {
    opacity: 0.7;
}

.roast {
    position: fixed;
    left: 400px;
    top: 200px;
}

.color {
    position: fixed;
    left: 270px;
    top: 200px;
}

.package {
    position: fixed;
    left: 180px;
    top: 200px;
}