/**
Панель фильтрации
 */
.filter-panel  {
    width: 0;
    position: fixed;
    top: 180px;
    left: 0;
    z-index: 1;
    height: 250px;
    background-color: saddlebrown;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.filter-panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.filter-panel a:hover {
    color: #f1f1f1;
}

.filter-panel .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.filter-button {
    position: fixed;
    top: 100px;
    left: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: darkgreen;
    color: white;
    padding: 10px 15px;
    border: none;
}

.filter-button:hover {
    background-color: saddlebrown;
}

/**
Картчоки товаров
 */
.cards {
    margin-left: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 5px;
    width: 80%;
}

.cards button:hover {
    opacity: 0.7;
}