.h1 {
    font-size: 100px;
    text-align: center;
    color: forestgreen;
    font-family: "Brush Script MT", cursive;
}

.h3 {
    font-size: 60px;
    text-align: center;
    color: chocolate;
    font-family: "Brush Script MT", cursive;
}