.forms-and-button {
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-primary {
    margin-top: 10px;
    width: 120px;
    height: 35px;
}

div {
    width: 300px;
    height: 75px;
    font-weight: bold;
    color: WHITE;
    font-family: Snell Roundhand, cursive;
}

h1 {
    padding: 50px;
    position: fixed;
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-family: Snell Roundhand, cursive;
    font-size: 50pt;
    color: WHITE;
    font-weight: bold;
}

.registr {
    padding: 50px;
    position: fixed;
    top: 80%;
    left: 42%;

    font-family: Snell Roundhand, cursive;
    font-size: 16pt;
    color: WHITE;
    font-weight: bold;
}

.registr a.reg {
    color: white;
}


.error {
    position: fixed;
    left: 50%;
    top: 10%;
    font-size: 48px;
    color: red;
}