/*
Меню бар
*/
.menu-bar {
    overflow: hidden;
    background-color: chocolate;
}

.menu-bar a {
    float: left;
    color: white;
    text-align: center;
    align-items: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 19px;
}

.menu-bar a:hover {
    background-color: white;
    color: black;
}

.menu-bar a.home {
    background-color: forestgreen;
    color: white;
}

body {
    font-family: "Brush Script MT", cursive;
}

.dropdown {
    position: fixed;
    top: 90px;
    left: -13px;
    font-size: 20px;
    color: saddlebrown;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
}

.menu-bar div.svg {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 1700px;
    margin-top: 40px;
}

p.info {
    width: 0;
    position: fixed;
    top: 10px;
    left: 1550px;
    color: white;
    font-family: "Brush Script MT", cursive;
}